@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #68bebfb0;
  border-radius: 100vw;
  margin-block: 0.5em;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #68bebf;
}

html::-webkit-scrollbar-track {
  background-color: #4d5959d0;
  box-shadow: inset 0 0 10px #2e3535c5;
}

html::-webkit-scrollbar-track:hover {
  background-color: #4d5959;
}

button {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-weight: bold;
}

h2 {
  padding: 2rem 0 0.5rem 0;
}

h5 {
  display: block !important;
  font-size: 20px;
  color: #68bebf;
  font-weight: bold;
  background-color: rgba(44, 43, 43, 0.925);
  padding: 1rem 0rem;
  border-radius: 10px;
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.pink-text {
  color: #be6968;
}

/* --text that completes the animated logo (start)-- */
.logo-text-1 h1 {
  position: absolute;
  font-size: 60px;
  bottom: 40%;
  left: 43%;
  color: #4d5959;
}

.logo-text-2 h1 {
  border: flex;
  position: absolute;
  font-size: 30px;
  bottom: 35%;
  left: 48%;

  color: #68bebf;
}
/* --text that completes the animated logo (End)-- */

/*positions and calls the "shake" keyframe (start)*/
.icon-animation {
  position: relative;
  margin: 40px 65px 40px 90px;

  width: 20em;
  height: 20em;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-name: shake;
  animation-iteration-count: 1;
  transform-origin: center;
  animation-timing-function: linear;
}
/*positions and calls the "shake" keyframe (end)*/

/* makes the face of logo shake (start)*/
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  3% {
    transform: rotate(45deg);
  }
  5% {
    transform: rotate(-45deg);
  }

  7% {
    transform: rotate(0deg);
  }

  9% {
    transform: rotate(45deg);
  }
  11% {
    transform: rotate(-45deg);
  }

  13% {
    transform: rotate(0deg);
  }
}
/* makes the face of logo shake (start)*/

/* parent class element of animated logo "controls the whole animated logo" (start)*/
.logo-header {
  display: flex;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50rem;
  height: auto;
  border-radius: 100px;
  background-color: rgba(253, 253, 253, 0.925);
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-name: translate;
  animation-iteration-count: 1;
  z-index: 10 !important;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
/* parent class element of animated logo "controls the whole animated logo" (end)*/

/* translate the animated logo in the Y axis outside of view */
@keyframes translate {
  100% {
    position: absolute;
    transform: translateY(-110vh);
  }
}

/* build the whole animated face logo in css */
.main-circle {
  position: relative;
  top: 25%;

  right: 25%;

  background: #4d5959;
  width: 50%;
  height: 50%;
  border-radius: 50% 50% 50% 50%;
}
